.rti-header {
    background-image: url(../images/rtibanner.jpg);
    height: 300px;
}
.hpclbuyback {
    background-image: url(../images/HPCLBUY-BACK.jpg);
    height: 300px;
}

.PriceBuildup-header {
    background-image: url(../images/Price-Build-up.jpg);
    height: 300px;
}

.major-project {
    background-image: url(../images/bannermajorproject.jpg);
    height: 300px;
}

.contactus {
    background-image: url(../images/contactus.jpg);
    height: 300px;
}

.hp-refineries {
    background-image: url(../images/Mumbai1.jpg);
    height: 300px;
}
.PriceBuildup-header {
    background-image: url('../images/Price-Build-up.jpg');
    height: 300px;
}
.purchase-and-procurement {
    background-image: url(../images/Purchase-and-Procurement.jpg);
    height: 300px;
}
.complaint-feedback {
    background-image: url(../images/complaint-feedback.jpg);
    height: 300px;
}
.fake-website-banner {
    background-image: url('../images/fake website banner.jpg');
    height: 300px;
}
.corporate-governace {
    background-image: url('../images/corporate-governace.jpg');
    height: 300px;
}
.CPIO-Banner {
    background-image: url(../images/CPIO-Banner.jpg);
    height: 300px;
}
.CPIO-Banner {
    background-image: url(../images/CPIO-Banner.jpg);
    height: 300px;
}

.jointventure {
    background-image: url(../images/JointVentureBanner.jpg);
    height: 300px;
}
.ApplySeeking {
    background-image: url(../images/ApplySeeking.jpg);
    height: 300px;
}
.Bio-Fuels {
    background-image: url(../images/Bio-Fuels.jpg);
    height: 300px;
}
.Capability-Building {
    background-image: url(../images/Capability-Building.jpg);
    height: 300px;
}
.Customer-e-Service {
    background-image: url(../images/Customer-e-Service.jpg);
    height: 300px;
}
.Enquiries {
    background-image: url(../images/Enquiries.jpg);
    height: 300px;
}
.InformationManual {
    background-image: url(../images/InformationManual.jpg);
    height: 300px;
}
.Jet-Fuel-Price {
    background-image: url(../images/Jet-Fuel-Price.jpg);
    height: 300px;
}
.Locate-Us {
    background-image: url(../images/Locate-Us.jpg);
    height: 300px;
}
.Our-Customers {
    background-image: url(../images/Our-Customers.jpg);
    height: 300px;
}
.Our-Facilities {
    background-image: url(../images/Our-Facilities.jpg);
    height: 300px;
}
.Our-Services {
    background-image: url(../images/Our-Services.jpg);
    height: 300px;
}
.retail-cpio {
    background-image: url(../images/CPIO-Banner.jpg);
    height: 300px;
}

.retailcpio {
    background-image: url(../images/RetailCPIO.jpg);
    height: 300px;
}
.SOD-Initiatives {
    background-image: url(../images/SOD-Initiatives.jpg);
    height: 300px;
}
.Solar-Energy {
    background-image: url(../images/Solar-Energy.jpg);
    height: 300px;
}
.Training {
    background-image: url(../images/Training.jpg);
    height: 300px;
}
.What-we-do {
    background-image: url(../images/What-we-do.jpg);
    height: 300px;
}
.who-we-are {
    background-image: url('../images/who we are.jpg');
    height: 300px;
}
.substainability-menu{
    background-image: url(../images/Sustainability-Societal-Value.jpg);
    height: 300px;
}
.Code-of-conduct {
    background-image: url(../images/CodeofConduct.jpg);
    height: 300px;
}
.retail-petrol {
    background-image: url(../images/Micrositebanner/Petrol.jpg);
    height: 300px;
}

.retail-diesel {
    background-image: url(../images/Micrositebanner/Diesel.jpg);
    height: 300px;
}

.retail-PDS {
    background-image: url('../images/Micrositebanner/PDS Kerosene.jpg');
    height: 300px;
}

.retail-autolpg {
    background-image: url('../images/Micrositebanner/LPG Auto.jpg');
    height: 300px;
}

.retail-cng {
    background-image: url('../images/Micrositebanner/CNG.jpg');
    height: 300px;
}
.retail-power {
    background-image: url('../images/Micrositebanner/HP retail.jpg');
    height: 300px;
}

.retail-power99 {
    background-image: url('../images/Micrositebanner/99power.jpg');
    height: 300px;
}
.retail-turbojet {
    background-image: url('../images/Micrositebanner/turbopower.jpg');
    height: 300px;
}
.retail-hpclub {
    background-image: url('../images/Micrositebanner/HP club.jpg');
    height: 300px;
}

.retail-hpstar {
    background-image: url('../images/Micrositebanner/HP Star.jpg');
    height: 300px;
}

.retail-hpstar {
    background-image: url('../images/Micrositebanner/HP Star.jpg');
    height: 300px;
}
/*//../images/Micrositebanner/E-fuel service-min.jpg*/
.retail-efule {
    background-image: url('../images/Micrositebanner/E-fuel service-min.jpg');
    height: 300px;
}

.retail-loyellty {
    background-image: url('../images/Micrositebanner/Loyality Program.jpg');
    height: 300px;
}

.retail-mobileapp {
    background-image: url('../images/Micrositebanner/Mobile App.jpg');
    height: 300px;
}

.retail-allied {
    background-image: url('../images/Micrositebanner/allied-retail-business.jpg');
    height: 300px;
}

.retail-evcharging {
    background-image: url('../images/Micrositebanner/ev-charging.jpg');
    height: 300px;
}

.retail-mobiledispenser {
    background-image: url('../images/Micrositebanner/mobile-dispenser.jpg');
    height: 300px;
}

.retail-highway {
    background-image: url('../images/Micrositebanner/highway.jpg');
    height: 300px;
}

.retail-pumpcoco {
    background-image: url('../images/Micrositebanner/petrol-pump-dealership-cocos.jpg');
    height: 300px;
} 

.retail-kerosenedis {
    background-image: url('../images/Micrositebanner/kerosene-distributors.jpg');
    height: 300px;
}


.retail-businessbhutan {
    background-image: url('../images/Micrositebanner/international-business-bhutan.jpg');
    height: 300px;
}  

.Complaint-feedback {
    background-image: url(../images/complaint_feedback.jpg);
    height: 300px;
}

.Research-And-Development {
    background-image: url(../images/R&D.jpg);
    height: 300px;
}

.HPGRDC-NEW-TECHNOLOGIES {
    background-image: url(../images/HPGRDC-New-Technologies.jpg);
    height: 300px;
}

.HPGRDC-New-Products {
    background-image: url(../images/HPGRDC-New-Products.jpg);
    height: 300px;
}
.Technical-Service {
    background-image: url(../images/Technical-Service.jpg);
    height: 300px;
}

.Petrochemical {
    background-image: url(../images/petrochemical.jpg);
    height: 300px;
}

.fakewebsite {
    background-image: url(../images/Fake-Websites.jpg);
    height: 300px;
}

.agmdetails-header {
    
    background-image: url('../images/Finance.jpg');
    height: 300px;
}
.ListofCPIO-header {
    background-image: url(../images/CPIObanner.jpg);
    height: 300px;
}
.ListofHQO-header {
    background-image: url(../images/CPIO-HQObanner.jpg);
    height: 300px;
}
.SharePrice-header {
    background-image: url(../images/sharepricebanner.jpg);
    height: 300px;
}
.analystsinstitutionalinvestorsmeet-header {
    background-image: url(../images/analystsinstitutionalinvestorsmeet.jpg);
    height: 300px;
}
.Sitemap-header {
    background-image: url(../images/Sitemapbanner.jpg);
    height: 300px;
}
.Help-header {
    background-image: url(../images/Helpbanner.jpg);
    height: 300px;
}
.WebsitePolicy-header {
    background-image: url(../images/website-policybanner.jpg);
    height: 300px;
}

.CorporateCitizen-header {
    background-image: url(../images/Corporate-Citizen-CSRbanner.jpg);
    height: 300px;
}
.stockexchnage-header {
    background-image: url(../images/StockExhange.jpg);
    height: 300px;
}
.welcomeretail-header {
    background-image: url(../images/welcome-to-hp-retail.jpg);
    height: 300px;
}
.jetdomestic-header {
    background-image: url(../images/Jet-Fuel-Price-domestic.jpg);
    height: 300px;
}
.jetinternational-header {
    background-image: url(../images/Jet-Fuel-Price-International.jpg);
    height: 300px;
}
.retailclubhpstar-header {
    background-image: url(../images/club-start-hp-banner-hp-retail-2.jpg);
    height: 300px;
}
/*-------------*/
.complaintandfeedback-header {
    background-image: url(../images/complaintandfeedback.jpg);
    height: 300px;
}
.dealerselectionsearch-header {
    background-image: url(../images/dealerselectionsearch.jpg);
    height: 300px;
}
.FAQbanner-header {
    background-image: url(../images/FAQbanner.jpg);
    height: 300px;
}
.hpgasrefillbookingoptions-header {
    background-image: url(../images/hp-gas-refill-booking-options.jpg);
    height: 300px;
}
.marinefuel-header {
    background-image: url(../images/fuel.jpg);
    height: 300px;
}
.hpgasadvertisements-header {
    background-image: url(../images/advertisements1.jpg);
    height: 300px;
}
.HPGASDistributorshipSelection-header {
    background-image: url(../images/hpgas-distributorship-selection.jpg);
    height: 300px;
}
.advertisementforselection-header {
    background-image: url(../images/advertisement-for-selection.jpg);
    height: 300px;
}
.advertisementforselectionarchive-header {
    background-image: url(../images/advertisement-for-selection-of-hp-gas-lpg-distributorships-archive.jpg);
    height: 300px;
}
.hpgasnddistributorshipadvertisements-header {
    background-image: url(../images/hpgas-nd-distributorship-advertisements.jpg);
    height: 300px;
}
.hpgasnddistributorshipadvertisementsarchive-header {
    background-image: url(../images/hpgas-nd-distributorship-advertisements-archive.jpg);
    height: 300px;
}
.Swayam-header {
    background-image: url(../images/swayam-banner.jpg);
    height: 300px;
}
.Satatbanner-header {
    background-image: url(../images/Satatbanner-1.jpg);
    height: 300px;
}
.systemicimprovementsbanner-header {
    background-image: url(../images/systemicimprovementsbanner-2.jpg);
    height: 300px;
}
.ProductEnquirysDetail-header {
    background-image: url(../images/ProductEnquirysDetail.jpg);
    height: 300px;
}
/*-----------Pipeline banners ------------*/

.hpengineeringandprojects-header {
    background-image: url(../images/hp-engineering-and-projects-min.jpg);
    height: 300px;
}
.OngoingProject-header {
    background-image: url(../images/Ongoing-Project-min.jpg);
    height: 300px;
}
.pipelinescompletedprojects-header {
    background-image: url(../images/pipelines-completed-projects-min.jpg);
    height: 300px;
}
.pipelinescorporateenvironmentalresponsibility-header {
    background-image: url(../images/pipelines-corporate-environmental-responsibility-min.jpg);
    height: 300px;
}
.pipelinessustainability-header {
    background-image: url(../images/pipelines-sustainability-min.jpg);
    height: 300px;
}
.pipelineswhoweare-header {
    background-image: url(../images/pipelines-who-we-are-min.jpg);
    height: 300px;
}
.PipelineTimelinemin-header {
    background-image: url(../images/Pipeline-Timeline-min.jpg);
    height: 300px;
}
.RegulatoryRequirementsmin-header {
    background-image: url(../images/Regulatory-Requirements-min.jpg);
    height: 300px;
}

.hpprojectsandpipelines-header {
    /*background-image: url(../images/engineering-Pipeline.jpg);*/
    background-image: url(../images/hp-projects-and-pipelines.jpg);
    height: 300px;
}
.Directfuel-header {
    /*background-image: url(../images/engineering-Pipeline.jpg);*/
    background-image: url(../images/Direct-fuel.jpg);
    height: 300px;
}
.InternationalYogaDay2021-header {
    /*background-image: url(../images/engineering-Pipeline.jpg);*/
    background-image: url(../images/InternationalYogaDay2021.jpg);
    height: 300px;
}

/*-----------Pipeline banners ------------*/

/*..................RTI-Banner.......................*/
.CPIODirectSalesRO-header {
    background-image: url(../images/CPIODirectSalesRO.jpg);
    height: 300px;
}

.CPIOZonal-Offices-header {
    background-image: url(../images/CPIOZonal-Offices.jpg);
    height: 300px;
}

.Transparency-portal-header {
    background-image: url(../images/Transparency-portal.jpg);
    height: 300px;
}

.hp-Supplies sod {
    background-image: url(../images/image_sod.jpg);
    height: 300px;
}


.depository-system-header {
    background-image: url(../images/depository-system.jpg);
    height: 300px;
}
.Disclaimer-header {
    background-image: url(../images/Disclaimer.jpg);
    height: 300px;
}
.equity-history-header {
    background-image: url(../images/equity-history.jpg);
    height: 300px;
}
.Policies-sustainbility-header {
    background-image: url(../images/Policies-sustainbility.jpg);
    height: 300px;
}
.Terms-and-Conditions-header {
    background-image: url(../images/Terms-and-Conditions.jpg);
    height: 300px;
}
.Unclaimed-Dividend-header {
    background-image: url(../images/Unclaimed-Dividend-new.jpg);
    height: 300px;
}
.website-policy-header {
    background-image: url(../images/website-policy-new.jpg);
    height: 300px;
}
.Investor-Education-and-Protection-Fund-header {
    background-image: url(../images/Investor-Education-and-Protection-Fund.jpg);
    height: 300px;
}
.Accessibility-Features-header {
    background-image: url(../images/Accessibility-Features.jpg);
    height: 300px;
}

.accessibility-statement-header {
    background-image: url(../images/accessibility-statement.jpg);
    height: 300px;
}
.hp-Supplies-sod {
    background-image: url(../images/Sod-banner1.jpg);
    height: 300px;
}
.hp-Anytime-header {
    background-image: url(../images/hp-Anytime.jpg);
    height: 300px;
}

.Searching-header {
    background-image: url(../images/Searching-banner.jpg);
    height: 300px;
}
.AwardsandAccolades-header {
    background-image: url(../images/Awardsbanner.jpg);
    height: 300px;
}

.DirectSalesFeedback-header {
    background-image: url(../images/DirectSalesFeedback.jpg);
    height: 300px;
}



/*..................RTI-Banner.......................*/
.rti-overview h2{
    color: #004e8f;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
}
.rti-overview p{
    color: #000000;
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
    font-weight: 500;
}
.colored-text{
    color: #004e8f;
    text-decoration: underline;
}


.accordion .card{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.accordion .card-header{
    padding: 0;
    border-radius: 0;
}

.accordion .card-header .btn.collapsed{
    color: #000000;
    font-weight: 500;
}  
.accordion .card-header .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    color: #004e8f;
    text-decoration: none;
    border-radius: 0;
    text-align: left;
}

.accordion .card-header .btn .icon{
    margin-left: 1rem;
}

.accordion .card-header .btn.collapsed .icon-Minus:before{
    content: '\ea26'
}
.accordion .card-header .btn.collapsed .icon-Minus:before{
    color: #474747;
    font-size: 2.5rem;
}
.accordion .card-header .btn .icon-Minus:before{
    color: #004e8f;
    font-size: 2.5rem;
}
.card-header{
    border: 0;
    background-color: transparent;
}

.accordion .card-body{
    padding: .6rem .75rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.accordion .card-body p{
    margin-bottom: 1rem;
}


@media only screen and (min-width : 1600px) {
}

@media only screen and (max-width : 1365px) {
  
}



@media only screen and (max-width : 1199px) {

}
@media only screen and (max-width : 1023px) {

}
@media only screen and (max-width : 1100px) {

}

@media only screen and (max-width : 1080px) {

}

@media only screen and (max-width : 991px) {
    .key-performance .key-performance-head{
        width: 100%;
    }
    .key-performance-list{
        width: 100%;
    }
    .pdf-links-divider{
        border: 0;
    }
}


@media only screen and (max-width : 767px) {
    .heritage-header{
        height: 110px;
    }
    
}

@media only screen and (max-width : 576px) {
  
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 400px) {
}

