<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMTPHost" value="rely.nic.in" />
    <!--<add key="SMTPFrom" value="mdlrec@mazdock.com" />-->
    <add key="SMTPFrom" value="noreply@mazdock.com" />
  </appSettings>
  
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime enableVersionHeader="false" />
    </system.web>

    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="536870912" maxQueryString="8156" />
          <verbs>
            <add verb="OPTION" allowed="false" />
			  <add verb="HEAD" allowed="false" />
			  <add verb="TRACE" allowed="false" />
			  <add verb="DELETE" allowed="false" />
			  <add verb="PUT" allowed="false" />
			  <add verb="OPTIONS" allowed="false" />
          </verbs>
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
          <!--<add name="Content-Security-Policy" value="default-src data: https:; img-src * 'self' data: https:; style-src 'self' 'unsafe-inline' fonts.googleapis.com stackpath.bootstrapcdn.com cdn.jsdelivr.net; script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.jsdelivr.net code.jquery.com;s"/>-->
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <!--<system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/English/Errors/Exception" responseMode="ExecuteURL"/>
      <remove statusCode="505"/>
      <error statusCode="505" path="/English/Errors/Exception" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/English/Errors/Exception" responseMode="ExecuteURL"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="/English/Errors/Exception" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>-->
 
  <!--<system.web>
    <customErrors mode="On" >
      <error statusCode="404" redirect="/English/Errors/Exception" />
      <error statusCode="404" redirect="/Errors/Exception" />
      --><!-- Add more error pages as needed --><!--
    </customErrors>

    <httpRuntime enableVersionHeader="false" />
  </system.web>-->
</configuration>